<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='file_icon.ico') }}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-BGColor">
  {% block main %}{% endblock %}
</body>
</html>